* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    color: black;
    font-family: 'Roboto Slab, Arial, sans-serif';
  }

  header {
    padding: 20px 35px;
    background-color: #95a0a1;
  }