* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Roboto Slab, Arial, sans-serif';
}

/*adding flex in header*/
header {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    padding: 20px 35px;
    background-color: #343c3d;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 28px;
    color: #0e0d0d;
}

header a {
    text-decoration: none;
    color: #fafaf8;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;   
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vwx;

}
section {
    padding: 60px;
  }
.reso {
    width: 150px;
    image-resolution: 200dpi;
    float: left;
    border-top: 0;
    border-right: 75px;
    border-left: 75px;
    border-bottom: 150px;
    border-color: antiquewhite;
}

.intro {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 250px;
    image-resolution: 200dpi;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    flex-wrap: wrap;
}

.main-item {
    height: 60%;
}
.main-item img {
    
    width: 750px;
    height: 300px;
    image-resolution: 200dpi;
    float: left;

}

.main-item h3 {
    display: inline;
    margin: 0;
    font-size: 28px;
    color: #0e0d0d;
}

.item {
    height: 40%;
    margin-bottom: 10%;
}