* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
    font-family: 'Roboto Slab, Arial, sans-serif';
}

header {
    padding: 20px 35px;
    background-color: #343c3d;
}

header h1 {
    font-weight: bold;
    display: inline;
    margin: 0;
    font-size: 28px;
    color: #0e0d0d;
}

header a {
    text-decoration: none;
    color: #fafaf8;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-size: 20px;
    font-weight: lighter;

}


article {
    padding: 20px;

}

.reso {
    width: 100px;
    image-resolution: 100dpi;

}

.intro {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    height: 256px;
}